body {
  background-color: skyblue;
  color: #ffb300;
}
.body {
  font-size: 30px;
  text-transform: capitalize;
  text-transform: uppercase;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  background-image: url(../images/code.jpg);
  background-size: contain;
  background-attachment: scroll;
  opacity: 20;
}
