@media screen and (max-width: 480px) {
  body {
    background-color: lightblue;
    color: black;
    text-align: center;
  }
}
* {
  box-sizing: border-box;
  font-size: 30px;
  margin: 0px;
  font-family: 'Belleza', sans-serif;
}
pre {
  text-transform: capitalize;
}
header{
  margin:auto;
  background-color: skyblue;
  padding: 15px;
  position: fixed;
}
.container {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 20px;
}
h3 {
  text-align: center;
  text-transform: capitalize;
  color: #66FF66;
  padding: 10px;
}
