@media screen and (max-width: 480px) {
  body {
    background-color: lightblue;
    color: black;
    text-align: center;
  }
}
* {
  box-sizing: border-box;
  font-family: 'Belleza', sans-serif;
}
header {
  position: fixed;
  margin: auto;
  padding: 15px;
  background-color: lightblue;
  text-transform: capitalize;
}
body {
  font-family: 'Belleza', sans-serif;
  color: solid white;
  background-image: url(../images/pro.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: gray;
  height:100vh;
}
h1 {
  text-align: center;
}
.container {
  font-size: 25px;
  margin-left: 20%;
  margin-right: 20%;
  background-blend-mode: darken;
  opacity: 10;
}
.projects {
  text-align: center;
  vertical-align: middle;
  text-shadow: 0 1px 0 black;
  font-weight: 700px;
}
span {
  text-decoration: underline;
  color: #ef1215 ;
}
#link{
  color: #66FF33 ;
}
