@media all and (max-width: 480px) {
  body {
    background-color: black;
    color: white;
  }
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Belleza', sans-serif;
  font-size: 25px;
  color: white;
  margin: 10px;
  background-image: url(../images/main.jpg);
  background-attachment: fixed;
  background-size: cover;
}
nav ul{
  display: flex;
  list-style-type: none;
  justify-content:space-around;
}
.back-ground {
  text-align: center;
}
.back-ground h2{
  text-align: center;
}
.bar > *{
  padding: 10px;
  font-size: 25px;
  border: 2px solid red;
}
.bar .menu {
  flex: auto;
  color: white;
}
#link{
  color: #66FF33 ;
}
.body {
  display: flex;
}
.sent {
  color: #f5f5f5;
  padding-left: 10%;
  padding-right: 10%;
  padding-right: 5%;
  border-style: inset;
  font-size: 50px;
  background-image: url(../images/body.jpg);
  background-size: cover;
  background-blend-mode: darken;
  background-color: gray;
}
