body {
  font-family: 'Belleza', sans-serif;
  font-size: 25px;
  color: solid white;
  margin-left: 25%;
  margin-right: 25%;
  background-image: url(../images/pro.jpg);
  background-attachment: fixed;
  background-size: cover;
  height:100vh;
  text-align: center;
  opacity: 5;

}
.projects {
  text-align: center;
  vertical-align: middle;
  text-shadow: 0 1px 0 black;
  font-weight: 700px;
}
span {
  text-decoration: underline;
  color: #ef1215 ;
}
#link{
  color: #66FF33 ;
}
