@media screen and (min-width: 480px;) {
  body {
    background-color: black;
    color: white;
  }
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Belleza', sans-serif;
  font-size: 25px;
  color: white;
  margin: 10px;
  background-image: url(../images/main.jpg);
  background-attachment: fixed;
  background-size: cover;
}
nav ul{
  display: flex;
  list-style-type: none;
  justify-content:space-around;
}
.back-ground {
  text-align: center;
}
.back-ground h2{
  text-align: center;
}
.bar > *{
  padding: 10px;
  font-size: 25px;
  border: 2px solid red;
}
.bar .menu {
  flex: auto;
  color: white;
}
#link{
  color: #66FF33 ;
}
.body {
  display: flex;
}
.body p {
  padding-left: 10%;
  border: 2px solid black;
  padding-right: 5%;
  font-size: 50px;
}
img {
  width: 50%;
  max-width: inherit;
  padding: 0% 5%% 5% 5%;
  height: 100vh;
}
